.header {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    font-family: 'Kalam', cursive;
    font-size: 5.5rem;
    font-weight: bold;
    padding: 20px;
}
.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.header-menu a {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 15px;
    text-decoration: none;
    color: #141414;
    display: inline-block;
    min-width: 130px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    background: transparent;
}

.header-menu:hover {
    color: #fff;
}
.header-menu a:hover:after {
    width: 100%;
}

.header-menu a::after {
    content: "";
    width: 0;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: all 0.3s ease;
    background-color: #e0e0e088;
    border-radius: 10px;
}

.header-menu li {
    text-align: center;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .header p {
        font-size: 3.5rem;
    }
    .header a {
        background: #f5f5f5;
        border-radius: 4px;
    }
}

@media (max-width: 1000px) {
    .header p {
        font-size: 3rem;
    }
}