.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.introducao h1 {
    font-family: 'Kalam', cursive;
    font-size: 4.5rem;
    text-shadow: #141414 2px 3px 2px;
    /* font-weight: bold; */
    line-height: 1.125;
    margin-bottom: 45px;
    position: relative;
}

.introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url(img/detalhe.svg) no-repeat;
    position: absolute;
    top: -20px;
    left: -40px;
    z-index: -1;
}

.introducao p {
    font-size: 1.250rem;
    color: #525252;
}

@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introducao h1 {
        font-size: 2rem;
    }
    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 400px) {
    .introducao {
        grid-template-columns: 1fr;
    }
    .introducao img {
        display: none;
    }
}